# Node  (Frontend)
Frontend/node_modules/
Frontend/dist/


# Backend (FastAPI)

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
Backend/venv/

# --- Logs ---
*.log

# --- Environment variables ---
.env

# --- Editor/IDE files ---
.vscode/
.idea/

# --- System files ---
.DS_Store
Thumbs.db
